@page "/"
@rendermode InteractiveServer

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<Accordion Title="Info A" IsOpen="@am.isOpen(0)" OnOpen="() => am.Open(0)">
    <ChildContent>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam ut maximus odio, non porta lectus. Quisque malesuada eros eget hendrerit congue. Nunc porta tincidunt eros nec vehicula. Duis accumsan nibh ut ante accumsan pharetra. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Proin sit amet egestas velit. Maecenas feugiat hendrerit nunc vulputate efficitur. Aliquam euismod neque nec lorem pharetra, a dapibus tortor volutpat. Curabitur mollis metus eget placerat commodo. Duis imperdiet metus quis urna pharetra interdum. Mauris aliquet mattis aliquet.
        <button>Gagne 200€ en cliquant là</button>
    </ChildContent>
    <TitleLeftSide Context="Icon">
        @Icon
    </TitleLeftSide>
    <TitleRightSide>
        Test
    </TitleRightSide>
</Accordion>

<Accordion Title="Info B" IsOpen="@am.isOpen(1)" OnOpen="() => am.Open(1)">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam ut maximus odio, non porta lectus. Quisque malesuada eros eget hendrerit congue. Nunc porta tincidunt eros nec vehicula. Duis accumsan nibh ut ante accumsan pharetra. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Proin sit amet egestas velit. Maecenas feugiat hendrerit nunc vulputate efficitur. Aliquam euismod neque nec lorem pharetra, a dapibus tortor volutpat. Curabitur mollis metus eget placerat commodo. Duis imperdiet metus quis urna pharetra interdum. Mauris aliquet mattis aliquet.
</Accordion>

<Chart Id="chart1" />

@code {
    AccordionManager am = new();
}